<div class="container">
  <div class="row">
    <div class="container">
        <div>
          <form>
            <table class="table table-responsive">
              <thead class="thead-inverse">
                <tr>
                  <th></th>
                  <th><center>Exigible(50%)<center></th>
                  <th></th>
                  <th><center>Positiva(30%)<center></th>
                  <th></th>
                  <th><center>Excelente(20%)<center></th>
                  <th></th>
                </tr>

              </thead>

              <tr>
                <td rowspan="4">Compromiso</td>
                <td>Reporta las normas de la empresa.</td>
                <td> <input type="checkbox" name="" value=""> 15% </td>
                <td> Muestra la disponibilidad para ayudar a sus compañeros.</td>
                <td> <input type="checkbox" name="" value=""> 10% </td>
                <td> Promueve la filosofía y valores de la organización.</td>
                <td> <input type="checkbox" name="" value=""> 10% </td>
              </tr>
              <tr>
                <td>Se esfuerza por adaptarse a las costumbres de la empresa y llevarse bien con sus compañeros.</td>
                <td> <input type="checkbox" name="" value=""> 15% </td>
                <td>Se siente orgulloso de pertenecer a la organizacion.</td>
                <td> <input type="checkbox" name="" value=""> 10% </td>
                <td>Se ha mantenido fiel a la empresa aun habiendo recibido ofertas de otras empresas competidoras (de las cuales hay evidencia).</td>
                <td> <input type="checkbox" name="" value=""> 5% </td>
              </tr>
              <tr>
                <td>Conoce la organizacion (estructura, negocio, objetivos, procesos).</td>
                <td> <input type="checkbox" name="" value=""> 10% </td>
                <td>Se preocupa por transmitir una imagen positiva de la organizacion.</td>
                <td> <input type="checkbox" name="" value=""> 10% </td>
                <td>Antepone las necesidades de la empresa a las suyas propias (prioridades, preferecias, etc.).</td>
                <td> <input type="checkbox" name="" value=""> 5% </td>
              </tr>
              <tr>
                <td>Respeta a sus superiores y sigue sus indicaciones.</td>
                <td> <input type="checkbox" name="" value=""> 10% </td>
                <td> &nbsp; &nbsp; &nbsp; &nbsp;</td>
                <td> &nbsp; &nbsp;  </td>
                <td> &nbsp; &nbsp; &nbsp; &nbsp;</td>
                <td> &nbsp; &nbsp;  </td>
              </tr>
            </table>
            <br>
            <br>
            <table class="table table-striped">
              <tr>
                <th></th>
                <th><center>Exigible(50%)<center></th>
                <th></th>
                <th><center>Positiva(30%)<center></th>
                <th></th>
                <th><center>Excelente(20%)<center></th>
                <th></th>
              </tr>
              <tr>
                <td rowspan="3">Responsabilidad </td>
                <td>Se responsabiliza de sus tareas, actividades y actos.</td>
                <td> <input type="checkbox" name="" value=""> 20% </td>
                <td> Desarrolla propuestas y toma decisiones que incluyen mejoras (gestion, organizacion,etc.) para su area (presentando al menos una propuesta viable a su responsable y se ha puesto en práctica).</td>
                <td> <input type="checkbox" name="" value=""> 15% </td>
                <td> Propone mejoras y realiza propuestas que al mismo costo incrementan la satisfaccion del cliente, aspirando a alcanzar el mejor resultado posible.</td>
                <td> <input type="checkbox" name="" value=""> 10% </td>
              </tr>
              <tr>
                <td>No toma decisiones que no son de su ámbito de actuación sino que recurre a sus superiores en casos que exeden de sus capcidades.</td>
                <td> <input type="checkbox" name="" value=""> 15% </td>
                <td>Cumple con los plazos e incluso entrega las tareas y/o proyectos antes del plazo previsto.</td>
                <td> <input type="checkbox" name="" value=""> 15% </td>
                <td>Cumple los plazos a tiempo y a menudo antes de que finalice el plazo.</td>
                <td> <input type="checkbox" name="" value=""> 5% </td>
              </tr>
              <tr>
                <td>Cumple los plazos establecidos</td>
                <td> <input type="checkbox" name="" value=""> 15% </td>
                <td> &nbsp; &nbsp; &nbsp; &nbsp; </td>
                <td> &nbsp; &nbsp; </td>
                <td>Asume un nivel de responsabilidad superior al esperado para un individuo de su nivel o posicion.</td>
                <td> <input type="checkbox" name="" value=""> 5% </td>
              </tr>
            </table>

            <table class="table table-striped">
              <tr>
                <th></th>
                <th><center>Exigible(50%)<center></th>
                <th></th>
                <th><center>Positiva(30%)<center></th>
                <th></th>
                <th><center>Excelente(20%)<center></th>
                <th></th>
              </tr>
              <tr>
                <td rowspan="4">Cooperación</td>
                <td>Muestra interes y predisposicion para trabajar en equipo.</td>
                <td> <input type="checkbox" name="" value=""> 10% </td>
                <td>Mantiene al resto de miembros del equipo informados.</td>
                <td> <input type="checkbox" name="" value=""> 10% </td>
                <td>Fomenta el espiritu de equipo y el sentimiento de integracion para cada uno de los miembros del equipo.</td>
                <td> <input type="checkbox" name="" value=""> 5% </td>
              </tr>
              <tr>
                <td>Ayuda a sus compañeros/supervisores cuando se lo piden.</td>
                <td> <input type="checkbox" name="" value=""> 10% </td>
                <td>Busca objetivos y metas comunes para trabajar con sus compañeros.</td>
                <td> <input type="checkbox" name="" value=""> 10% </td>
                <td>Promueve la colaboración con otros equipos de trabajo.</td>
                <td> <input type="checkbox" name="" value=""> 5% </td>
              </tr>
              <tr>
                <td>Mantiene dentro del ámbito laboral buenas relaciones con los compañeros.</td>
                <td> <input type="checkbox" name="" value=""> 20% </td>
                <td>Escucha a la opiniones de sus compañeros y estos se sientes valorados por el individuo evaluado.</td>
                <td> <input type="checkbox" name="" value=""> 10% </td>
                <td>Realiza acciones enfocadas a lograr un buen clima de trabajo (reuniones, colaboración con los miembros, escucha activa, etc.).</td>
                <td> <input type="checkbox" name="" value=""> 5% </td>
              </tr>
              <tr>
                <td>Se muestra colaborador, no competitivo.</td>
                <td> <input type="checkbox" name="" value=""> 10% </td>
                <td> &nbsp; &nbsp; &nbsp; &nbsp; </td>
                <td> &nbsp; &nbsp; </td>
                <td>Reconoce y defiende la identidad del grupo.</td>
                <td> <input type="checkbox" name="" value=""> 5% </td>
              </tr>
            </table>

            <table class="table table-striped">
              <tr>
                <th></th>
                <th><center>Exigible(50%)<center></th>
                <th></th>
                <th><center>Positiva(30%)<center></th>
                <th></th>
                <th><center>Excelente(20%)<center></th>
                <th></th>
              </tr>
              <tr>
                <td rowspan="3">Orden y calidad</td>
                <td>Se asegura y comprueba la validez de su trabajo antes de pasarlo a un cliente o un superior.</td>
                <td> <input type="checkbox" name="" value=""> 25% </td>
                <td>Cuestiona los mecanismos establecidos y descubre formas para mejorar la igualdad del trabajo realizado sin restarle eficacia/eficiencia.</td>
                <td> <input type="checkbox" name="" value=""> 10% </td>
                <td>El resultado de sus proyectos (los dirigidos por el individuo) siempre es satisfactorio.</td>
                <td> <input type="checkbox" name="" value=""> 5% </td>
              </tr>
              <tr>
                <td>Puede demostrar y defender el trabajo realizado frente a un cliente o un superior, pues el trabajo realizado está fundamentado y es de calidad.</td>
                <td> <input type="checkbox" name="" value=""> 25% </td>
                <td>Es reconocido por los clientes por brindar servicios de alta calidad y sus proyectos (los dirigidos por el individuo) suelen ser satisfactorios.</td>
                <td> <input type="checkbox" name="" value=""> 10% </td>
                <td>Los clientes solicitan ser atendidos por el empleado y los compañeros quieren formar parte de su equipo de trabajo.</td>
                <td> <input type="checkbox" name="" value=""> 5% </td>
              </tr>
              <tr>
                <td> &nbsp; &nbsp; &nbsp; &nbsp; </td>
                <td> &nbsp; &nbsp; </td>
                <td>Documenta cada paso que realiza en un proyecto y lleva un registro de cada una delas tareas que realiza, demostrando orden y limpieza.</td>
                <td> <input type="checkbox" name="" value=""> 10% </td>
                <td>Es ejemplo de orden y limpieza y en todo momento se pueden encontrar los documentos relativos a sus proyectos o tares.</td>
                <td> <input type="checkbox" name="" value=""> 10% </td>
              </tr>
            </table>

            <table class="table table-striped">
              <tr>
                <th></th>
                <th><center>Exigible(50%)<center></th>
                <th></th>
                <th><center>Positiva(30%)<center></th>
                <th></th>
                <th><center>Excelente(20%)<center></th>
                <th></th>
              </tr>
              <tr>
                <td rowspan="2">Mejora continua</td>
                <td>Avanza y desarrolla nuevos conocimientos conforme adquiere experiencia y evoluciona en la empresa.</td>
                <td> <input type="checkbox" name="" value=""> 25% </td>
                <td>Revisa el trabajo de su equipo,propone mejoras en la gestión y organización y consigue que el equipo de trabajo sea mas eficiente.</td>
                <td> <input type="checkbox" name="" value=""> 30% </td>
                <td>Consigue que los proyectos o tareas incrementen su rentabilidad en mas de un 10%, eso se consigue realizando las tareas o actividades relativas al proyecto en un tiempo inferior al que se estimo y se facturo al cliente.</td>
                <td> <input type="checkbox" name="" value=""> 10% </td>
              </tr>
              <tr>
                <td>Informa a sus superiores en caso de detectar un error donde se ve incapaz de resolver por si mismo.</td>
                <td> <input type="checkbox" name="" value=""> 25% </td>
                <td> &nbsp; &nbsp; &nbsp; &nbsp; </td>
                <td> &nbsp; &nbsp; </td>
                <td>Involucra a los miembros de su equipo para que propongan mejoras y contribuyan al logro de los objetivos.</td>
                <td> <input type="checkbox" name="" value=""> 10% </td>
              </tr>
            </table>
            <br>
            <br>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label for="exampleTextarea">Observaciones del evaluador:</label>
                  <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                </div>

              </div>


            </div>

          </form>
          <%= link_to 'Regresar', evaluations_path, class: "btn btn-danger display:inline-block;"%>
          <%= link_to 'Guardar', evaluations_path, class: "btn btn-primary display:inline-block;"%>

          <br>
          <br>
        </div>
      </div>
  
  </div>
</div>
<br>
<br>
<br>
