<label>Ingrese RFC del empleado:</label>
<input type="text" name="name">
<button type="submit" class="btn btn-primary">Crear Gráfica</button>
<br>
<br>
<br>
<br>
<br>

<div>
  <%= image_tag("chart.png", size: "600x400") -%>
</div>
