<div class="container">
  <label>Ingrese RFC del empleado:</label>
  <input type="text" name="name">
  <button type="submit" class="btn btn-primary">Crear Gráfica</button>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div>
    <%= image_tag("chart.png", size: "600x400") -%>
  </div>
  <div>
    <br>
    <br>
    <p>A = Compromiso </p>
    <p>B = Responsabilidad</p>
    <p>C = Cooperación</p>
    <p>D = Orden y calidad</p>
    <p>E = Mejora continua</p>
    <br>
    <br>
  </div>
</div>
<br>
